@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    min-height: 100dvh;
}

h1 {
    text-align: center;
}

.card {
    width: 30vw;
    padding: 30px;
    border: 10px solid black;
    background-color: lightblue;
}


.fixed {
    box-sizing: border-box;
}

input:focus {
    border: 3px solid pink;
    background-color: deeppink;
}

a:hover {
    color:red;
}

ul.top-level-list:hover {
    cursor: pointer;
}

.card:nth-child(even) {
    background-color: brown;
}

.card:nth-child(odd) {
    background-color: purple;
}

/* this is a hover effect */
.card:hover {
    background-color: gold;
}

h1::first-letter {
    color: gold;
}

h3.comments-title::first-letter {
    font-size: 60px;
}

/* h3::first-letter {
    font-size: 60px;
} */

.top-level-list > li {
    border: solid 1px orange;
}

/* div + div {
    color: green;
} */

/* div {
    font-size: 20px;
}

div p {
    font-size: 2em;
} */

/* html {
    font-size: 16px;
} */

h1 {
    font-size: 3rem;
}

article {
    min-height: 100vh;
}